server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.changelog-master.yaml

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

jwt:
  secret: "superSecretKeyForJwt1234567890"
  expiration: 3600000

encryption:
  secret: "MySecretAESKey12"

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true